<md-container layout="column">

  <md-grid-list
    md-cols-xs="4" md-cols-sm="6" md-cols-md="8" md-cols-gt-md="12"
    md-row-height="3:5" md-gutter="0"
  >

    <md-grid-tile md-colspan="2" md-rowspan="2"
                  ng-repeat="catalog in vm.catalogs"
                  ng-click="vm.showBook(catalog.id)"
                  md-ink-ripple

    >
      <md-card
        class="md-whiteframe-1dp"
        ng-mouseenter="vm.onMouseEnter($index)"
        ng-class="{'md-whiteframe-16dp': vm.isMouseEntered($index)}"
      >
        <img ng-src="{{catalog.cover}}" class="md-card-image" alt="{{catalog.title.default}}">
        <md-card-title>
          <md-card-title-text class="md-accent">
            <span class="md-caption">{{$index+1}}. {{catalog.title.default}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </md-grid-tile>
  </md-grid-list>

</md-container>
